body 
{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 16px;
}
.header
{
    background-color: darkblue;
    color: #ffffff;
}
.bg-mdnilson
{
    background-color: #97689c;
}

.feature {
    background-image: url("../img/pano-1.jpg");
    background-size: cover;
    height: 80vh;
    background-position: center center;
}

.feature-text
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 4rem;
}
@media screen and (max-width : 768px) {

    li a {
        text-align: center;
    }

    .feature-text p {
        font-size: 28px;
        line-height: 28px;
    }


}
.green
{
    color: green;
}