body 
{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 18px;
}
.header
{
    background-color: darkblue;
    color: #ffffff;
}
h1, h2, h3, h4, h5
{
    margin: 20px;;
}
.bg-mdnilson
{
    background-color: #97689c;
}

.feature {
    background-image: url("../img/pano-1.jpg");
    background-size: cover;
    height: 80vh;
    background-position: center center;
    display: flex;
}

.feature-text
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 4rem;
}

.green
{
    color: green;
}
.example
{
    background-color: #5f9ea0;
    display: block;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 20px;
    width: fit-content;
    
}
.example code{
    color: white;
    font-size: 1em;
}
.codepen
{
    width: 100%;
    max-width: 370px;
    margin: 20px 0;
    border-radius: 20px;
    display: block;
}
.komentarz
{
    color: #FFE138;
}
@media screen and (max-width : 768px) {

    li a {
        text-align: center;
    }

    .feature-text p {
        font-size: 28px;
        line-height: 28px;
    }
    .feature
    {
        height: 40vh;
    }
}
.errors p,
			.success p{
				padding: 15px;
			}